<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云计算作业提交系统</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">云计算作业提交系统</h1>
    </div>

    <div class="row">
        <div class="col-4">
            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}：{{ field }}
                        <span>{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}

                <input class="btn" style="width: 80px" type="submit" value="提交">
            </form>
        </div>

        <div class="col-4">
            <img src="" id="show" alt="" style="width: 100%">
        </div>

        <div class="col-4">
            <div class="out">
                <ul class="animate">
                    {% for post in posts %}
                        <li>
                        {{ post.category }}的{{ post.name }}于{{ post.created_time }}提交了作业.
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- 提交成功消息提示框1 -->
        <!--
        {% if messages %}
            <ul class="message">

            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% else %}
                    <li>{{ message }}</li>
                {% endif %}
            {% endfor %}

            </ul>
        {% endif %}
        -->

        <!-- 提交成功消息提示框2 -->
        {% if messages %}
            {% for message in messages %}
                <script>
                alert('{{ message }}');
                </script>
            {% endfor %}
        {% endif %}

    </div>
</div>

<script>
    var img=document.getElementById('id_image');
    img.onchange=preview;

    function preview() {
        var r = new FileReader();
        f = document.getElementById('id_image').files[0];
        r.readAsDataURL(f);
        r.onload = function (e) {
            document.getElementById('show').src = this.result;
        };
    }
</script>

</body>
</html>